# Global/IDE
.DS_Store
*.log
.vscode/
.idea/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/next-env.d.ts
frontend/*.tsbuildinfo

# Backend
backend/node_modules/
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
